<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gestionnairedelicence">
        <activity
            android:name=".IHM.AffectationActivity"
            android:exported="false" />
        <activity
            android:name=".IHM.AffectationsActivity"
            android:exported="false" />
        <activity
            android:name=".IHM.LicenceActivity"
            android:exported="false" />
        <activity
            android:name=".IHM.LicencesActivity"
            android:exported="false" />
        <activity
            android:name=".IHM.ClientActivity"
            android:exported="false" />
        <activity
            android:name=".IHM.ClientsActivity"
            android:exported="false" />
        <activity
            android:name=".IHM.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>